## ignoring these larger binaries for now
temp/*
ffmpeg.exe
ffprobe.exe
scripts/process_audio/target/*
scripts/process_volume/target/*
scripts/process_features/target/*
scripts/pre-process_hubert/target/*
scripts/formant_processing/target/*
example.flac
example1.flac
scripts/data_visualization/venv/*
scripts/venv/*
scripts/data_visualization/DeepGaze/*
scripts/vad/target/*